<nav class="navbar navbar-expand-lg navbar-dark static-top">
  <div class="container navContainer fixedElement">
    <ul class="container navbar-toggler text-black navContainer" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <li class="nav-item dropdown" style="list-style-type:none">
        <a class="nav-link dropdown-toggle">
          Actions
        </a>
      </li>
    </ul>
    <div class="container collapse navbar-collapse row" id="navbarSupportedContent">
      <ul class="navbar-nav ulStyle" style="flex-wrap: inherit;">
        <li class="nav-item">
          <a class="nav-link secondaryNavLink ms-3">
            <img src="assets/icons/add.svg" height="25" />New
          </a>
          <span class="nav-item LineSpan">|</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
